!!!
%html
%head
	%title Recipeazy
	= stylesheet_link_tag    'application', media: 'all'
	= javascript_include_tag 'application'
	%link{:rel => "stylesheet", :href => "http://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.1/normalize.min.css"}
	%link{:rel => "stylesheet", :href => "http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css"}
	
	= csrf_meta_tags
%body
	%header
		%nav.navbar.navbar-fixed-top{role: "navigation"}
			.mobile
				%div.navbar-brand
					%i.fa.fa-bars.bars{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", type: "button"}
					= link_to "Recipeazy", root_path, style: "color: #696969;"
			
			.collapse.navbar-collapse.navbar-collapse
				%ul.navbar-nav.navbar-right
					.navbar-items
						- if user_signed_in?
							%li.nav-item
								= link_to "Home", root_path
								%i.fa.fa-home.fa-lg
							%li.nav-item
								= link_to "About", about_path
								%i.fa.fa-info-circle.fa-lg
							%li.nav-item
								= link_to "Settings", edit_user_registration_path
								%i.fa.fa-cog.fa-lg
							%li.nav-item
								= link_to "New", new_post_path
								%i.fa.fa-plus-circle.fa-lg
							%li.nav-item
								= link_to "Sign Out", destroy_user_session_path, method: :delete
								%i.fa.fa-sign-out.fa-lg
						- else
							%li.nav-item
								= link_to "Log In", new_user_session_path
								%i.fa.fa-sign-in.fa-lg
							%li.nav-item
								= link_to "Sign Up", new_user_registration_path
								%i.fa.fa-user-plus.fa-lg
								
			//IF ON COMPUTER
			.computer
				%nav.navbar.navbar-expand-lg.navbar-light.bg-light
					%div.navbar-brand
						= link_to "Recipeazy", root_path, style: "color: #696969;"
					.wrapper.clearfix
						%div.collapse.navbar-collapse#navbarSupportedContent
							%div.float-right
								- if user_signed_in?
									= link_to "Home", root_path
									%i.fa.fa-home
									= link_to "About", about_path
									%i.fa.fa-book
									= link_to "Settings", edit_user_registration_path
									%i.fa.fa-cog
									= link_to "New", new_post_path
									%i.fa.fa-plus-circle
									= link_to "Signout", destroy_user_session_path, method: :delete
									%i.fa.fa-sign-out
								- else
									= link_to "Log In", new_user_session_path
									%i.fa.fa-sign-in
									= link_to "Sign Up", new_user_registration_path
									%i.fa.fa-user-plus
										
	%p.notice= notice
	%p.alert= alert
	.wrapper
		= yield